.shop-area {
    margin-bottom: 70px;
}

/* ---------- Toastify ---------- */

#toast {
    position: fixed;
    top: 32px;
    right: 10px;
    z-index: 999999;

    .toast {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 2px;
        padding: 20px 0;
        max-width: 450px;
        border-left: 4px solid;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
        transition: all linear 0.3s;

        &.toast--success {
            border-color: #47d864;

            .toast__icon {
                color: #47d864;
            }
        }

        &.toast--info {
            border-color: #2f86eb;

            .toast__icon {
                color: #2f86eb;
            }
        }

        .toast + .toast {
            margin-top: 24px;
        }

        .toast__icon {
            font-size: 24px;
        }

        .toast__icon,
        .toast__close {
            padding: 0 16px;
        }

        .toast__body {
            flex-grow: 1;
        }

        .toast__title {
            font-size: 16px;
            font-weight: 600;
            color: #333;
        }

        .toast__msg {
            font-size: 14px;
            color: #888;
            margin-top: 6px;
            line-height: 1.5;
        }

        .toast__close {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }
    }
}
/* ---------- Start Shop-Left ---------- */
.shop-sidebar {
    margin-bottom: 40px;
    padding-right: 15px;

    h4 {
        font-family: "Yesteryear", cursive;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 400;

        margin-bottom: 20px;
    }
}
.category-brand,
.category-sport {
    ul {
        li {
            position: relative;

            display: flex;
            justify-content: space-between;

            margin-top: 12px;
            padding: 10px;

            font-size: 0.95rem;
            border-radius: 6px;
            box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
            list-style: none;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.2s ease;

            .effect{
                display: none;

                &.active{
                    display: block;
                }
            }
            a {
                color: #31344b;

                i {
                    margin-right: 10px;
                }
            }

            &:hover::before {
                content: "";

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
            }
            &:hover {
                color: #3498db;
                a {
                    color: #3498db;
                }
            }
        }
    }

    span.li-effect{
        display: block;
        position: absolute;

        &:nth-child(1){
            top: 0;
            left: -100%;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg, transparent, #2196f3);
            animation: toLeft 1s infinite;
          }

          &:nth-child(3){
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 3px;
            background: linear-gradient(270deg, transparent, #2196f3);
            animation: toRight 1s infinite;
            animation-delay: 0.5s;
          }

          &:nth-child(2){
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #2196f3);
            animation: toTop 1s infinite;
            animation-delay: 0.25s;
          }

          &:nth-child(4){
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #2196f3);
            animation: toBottom 1s infinite;
            animation-delay: 0.75s;
          }
      }
}

.range {
    height: 80px;
    padding: 0 65px 0 45px;

    background: #fff;

    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);

    input {
        -webkit-appearance: none;
        width: 100%;
        height: 3px;

        border: none;
        border-radius: 5px;
        outline: none;

        background: #ddd;
        z-index: 2222;
    }

    .sliderValue {
        position: relative;
        width: 100%;

        span {
            position: absolute;
            top: -40px;

            height: 45px;
            width: 45px;

            font-weight: 500;
            text-align: center;
            line-height: 55px;
            color: #fff;

            transform-origin: bottom;
            transform: translateX(-70%) scale(0);
            transition: transform 0.3s ease-in-out;

            z-index: 2;
            &.show {
                transform: translateX(-70%) scale(1);
            }

            &::after {
                content: "";
                position: absolute;
                left: 50%;

                background: #664aff;

                height: 100%;
                width: 100%;

                border: 3px solid #fff;
                border-top-left-radius: 50%;
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

                transform: translateX(-50%) rotate(45deg);
                z-index: -1;
            }
        }
    }

    .field {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        position: relative;

        .value {
            position: absolute;

            font-size: 1.2rem;
            color: #664aff;
            font-weight: 600;

            &.left {
                left: -22px;
            }
        }

        .value.right {
            right: -43px;
        }
    }
}

.bestseller {
    ul {
        li {
            list-style: none;

            display: flex;
            justify-content: space-between;
            flex-direction: column;

            font-size: 0.95rem;
            margin-top: 12px;
            padding: 10px;

            border-radius: 6px;
            box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;

            position: relative;
            cursor: pointer;
            transition: all 0.2s ease;

            .bestseller-content {
                h6 {
                    color: #555;
                    font-size: 0.95rem;
                    font-weight: 600;
                    text-align: center;
                }
                .bs-content-review {
                    font-size: 0.7rem;
                    color: #dcba00;
                    text-align: center;

                    margin-bottom: 5px;
                }
                .bs-content-price {
                    color: var(--text-color);
                    text-align: center;
                    .old-price {
                        text-decoration: line-through;
                        font-size: 0.8rem;
                        padding-right: 5px;
                    }
                    .new-price {
                        font-size: 0.95rem;
                        padding-right: 5px;
                        font-weight: 800;
                    }
                }
            }

            &:hover::before {
                content: "";

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
                border-radius: 6px;
                background-color: rbga(255, 255, 255, 0.3);
            }
        }
    }
    img {
        width: 50%;
        display: flex;
        margin: 0 auto;
    }
}
.sidebar-banner {
    img {
        width: 100%;
        height: 420px;
        border-radius: 6px;
    }
}

.product-tag {
    ul {
        li {
            display: inline-block;
            a {
                background: #ebebeb;
                border: none;
                color: #555;
                display: inline-block;
                font-size: 0.95rem;
                margin: 0 5px 8px 0;
                padding: 4px 20px;
                text-transform: capitalize;
                border-radius: 6px;
                box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
            }
        }
    }
}
/* ---------- End Shop-Left ---------- */

/* ---------- Start Shop-Right ---------- */

/* ----- breadcrumb ----- */
.breadcrumb-area {
    position: relative;
    margin-bottom: 80px;

    .breadcrumb-img {
        img {
            width: 100%;
        }

        .img-slider {
            position: relative;
            border-radius: 10px;
            height: 420px;
            background: #1d212b;

            .slide {
                z-index: 1;
                position: absolute;
                width: 100%;
                clip-path: circle(0% at 0 50%);

                &.show {
                    clip-path: circle(150% at 0 50%);
                    transition: 2s;
                    transition-property: clip-path;
                }

                img {
                    z-index: 1;
                    width: 100%;
                    border-radius: 5px;
                    height: 420px;
                }

                .info {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 15px 30px;

                    h2 {
                        color: var(--primary);
                        font-size: 2rem;
                        text-transform: uppercase;
                        font-weight: 800;
                        letter-spacing: 2px;
                    }
                }
            }

            .navigation {
                z-index: 2;
                position: absolute;
                display: flex;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);

                .btn {
                    background: rgba(255, 255, 255, 0.5);
                    width: 12px;
                    height: 12px;
                    margin: 10px;
                    border-radius: 50%;
                    cursor: pointer;

                    &.show {
                        background: #2696e9;
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }

    .breadcrumb-content {
        position: absolute;
        bottom: 20px;
        left: 70px;
        z-index: 1;

        ul li {
            display: inline-block;
            font-size: 14px;
            line-height: 25px;
            color: #fff;
            position: relative;

            a {
                color: #fff;
            }
            &.active {
                color: var(--primary);

                &::before {
                    content: "";
                    height: 13px;
                    width: 1px;
                    vertical-align: middle;
                    background-color: #fff;
                    display: inline-block;
                    margin: 0 15px;
                }
            }
        }
    }
}
/* ----- Topbar ----- */
.topbar-area {
    border-bottom: 1px solid var(--primary);
    color: #222;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .grid-list-option {
        ul {
            display: flex;
            flex-wrap: wrap;

            li a {
                border: none;
                color: #222;
                line-height: 36px;
                margin-right: 1px;
                border-radius: 100%;
                width: 35px;
                height: 35px;
                font-size: 18px;
                display: block;
                text-align: center;

                &.active {
                    background-color: var(--primary);
                    color: #fff;
                }
            }
        }
    }

    .topbar-search {
        display: flex;

        span {
            text-align: center;
            padding: 8px 12px;
            font-size: 24px;
            line-height: 25px;
            color: #99a3ba;
            background: #eef4ff;
            border: 1px solid #cdd9ed;
            transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        &:focus-within span {
            color: #fff;
            background: var(--primary);
            border-color: var(--primary);
        }

        .form-field {
            display: block;
            width: 100%;
            padding: 8px 16px;
            line-height: 25px;
            font-size: 14px;
            font-weight: 500;
            color: #99a3ba;
            border: 1px solid #cdd9ed;
            background: #fff;
            transition: border 0.3s ease;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            &:focus {
                outline: none;
                border-color: var(--primary);
            }
        }
    }

    .toolbar-short {
        display: flex;
        align-items: center;
    }
}

/* ----- Gird Product ----- */

.product-grid-view {
    display: none;
    &.active {
        display: block;
        transition: 0.5s;
    }
    .row .col-md-4:nth-child(3n-2) {
        padding-right: 10px;
    }
    .row .col-md-4:nth-child(3n-1) {
        padding: 0 5px;
    }
    .row .col-md-4:nth-child(3n) {
        padding-left: 10px;
    }
}

.grid-single {
    position: relative;
    height: 400px;
    margin: 13px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
    backdrop-filter: blur(15px);

    img.btn-quick {
        position: absolute;
        z-index: 1;
        width: 15%;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        transform: scale(0);
        cursor: pointer;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0, rgb(42, 179, 60), rgb(43, 18, 90));
        clip-path: circle(22% at 50% 50%);
        transition: 0.5s ease-in-out;
    }

    .grid-single-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        transition: 0.5s ease-in-out;

        img {
            max-width: 100%;
            margin: 0 0 20px;
            transition: 0.5s ease-in-out;
        }

        h2 {
            width: 86%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            color: var(--gray-dark);
            font-size: 1.3rem;
            font-weight: 600;
            text-align: center;

            position: absolute;
            bottom: 25px;
            transition: 0.5s;
        }
    }

    .grid-single-ifm {
        position: absolute;
        bottom: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition: 0.5s ease-in-out;
        opacity: 0;
        visibility: hidden;

        .ifm-size,
        .ifm-color {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 8px 20px;

            h3 {
                color: #fff;
                font-weight: 300;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;

                margin-right: 10px;
            }
        }

        .ifm-size span {
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 24px;
            display: inline-block;
            color: #111;
            background: #fff;
            border-radius: 4px;
            font-size: 14px;
            margin: 0 5px;
            font-weight: 500;
            transition: 0.5s;
            cursor: pointer;

            &:hover {
                background: #9bdc28;
            }
        }

        .ifm-color span {
            width: 20px;
            height: 20px;
            background: #f00;
            border-radius: 50%;
            margin: 0 5px;
            border: 2px solid #fff;
            box-sizing: border-box;
            cursor: pointer;

            &:nth-child(1) {
                background: #9bdc28;
            }

            &:nth-child(2) {
                background: #03a9f4;
            }

            &:nth-child(3) {
                background: #e91e63;
            }
        }
    }
    &:hover {
        img.btn-quick {
            animation: scaleUp 0.5s forwards;
        }
        &::before {
            clip-path: circle(100% at 50% 50%);
            background-image: linear-gradient(0, rgb(42, 179, 60), rgb(43, 18, 90));
        }

        .grid-single-img {
            transform: translateY(-100px);

            img {
                transform: translate(-20px, -40px) rotate(-25deg) scale(1.2);
            }

            h2 {
                color: var(--white);
                bottom: 53px;
            }
        }

        .grid-single-ifm {
            opacity: 1;
            visibility: visible;
            transform: translateY(-50px);
        }
    }
}

.grid-pagination,
.list-pagination {
    ul {
        text-align: right;
        padding-top: 30px;
        margin-bottom: 40px;
        border-top: 1px solid #e5e5e5;

        li {
            display: inline-block;
            list-style: none;
            margin-right: 5px;

            a {
                background: #fff;
                border: 1px solid #ededed;
                color: #222;
                font-size: 15px;
                display: block;
                font-weight: normal;
                height: 42px;
                line-height: 40px;
                min-width: 0;
                padding: 0 8px;
                text-align: center;
                width: 42px;
            }

            &.active a {
                background: #abd373;
                border-color: #abd373;
                color: #fff;
            }
        }
    }
}

/* ----- List Product ----- */
.product-list-view {
    display: none;
    &.active {
        display: block;
        transition: 0.5s;
    }
    .list-single {
        border-bottom: 1px solid #9d9898;
        margin-bottom: 40px;
        .list-single-img {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                transition: 0.5s;
            }

            &:hover img {
                transform: translate(-20px, -40px) rotate(-25deg);
            }
            .onsale {
                background: var(--primary);
                color: #ffffff;
                font-size: 0.9rem;
                font-weight: 500;
                height: 100px;
                line-height: 162px;
                position: absolute;
                right: -50px;
                text-align: center;
                top: -50px;
                width: 100px;
                transform: rotate(45deg) translateZ(0) scale(1, 1);
                backface-visibility: hidden;
            }
        }

        .list-single-ifm {
            padding: 0 15px 25px 15px;
            text-align: left;

            .ifm-header {
                display: flex;
                justify-content: space-between;

                h2 {
                    color: #000;
                    display: block;
                    font-size: 0.95rem;
                    font-weight: 500;
                    line-height: 1.35;
                }

                .ifm-header-color {
                    span {
                        display: inline-block;
                        height: 25px;
                        width: 25px;
                        border-radius: 2%;
                        margin-right: 14px;

                        &.active {
                            box-shadow: 6px 6px #344342;
                        }
                        &:nth-child(1) {
                            background-color: #3f51b5;
                        }
                        &:nth-child(2) {
                            background-color: red;
                        }
                        &:nth-child(3) {
                            background-color: yellow;
                        }
                        &:nth-child(4) {
                            background-color: green;
                        }
                    }
                }
            }

            .ifm-reviews {
                margin-bottom: 15px;
                color: #dcba00;
                font-size: 0.8rem;
            }

            .ifm-description {
                p {
                    font-size: 0.95rem;
                    line-height: 25px;
                    color: #666;
                    margin: 35px 0;

                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    display: -webkit-box;
                }
            }

            .ifm-price {
                .price-box {
                    color: #555;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: var(--primary);
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    transition: all 0.3s ease;

                    .price {
                        text-decoration: line-through;
                        color: #999;
                        font-size: 0.95rem;
                        padding-right: 5px;
                    }
                }
            }

            .ifm-action {
                display: flex;
                margin-top: 20px;
                .btn-quick {
                    margin-left: 30px;
                }
                .btn-quick,
                .btn-buy {
                    border: none;
                    transition: all 0.3s ease;
                    overflow: hidden;

                    &:after {
                        position: absolute;
                        content: "";
                        z-index: -1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #1fd1f9;
                        background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
                        transition: all 0.3s ease;
                    }

                    &:hover {
                        background: transparent;
                        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
                            inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
                        color: #fff;

                        &:after {
                            transform: scale(2) rotate(180deg);
                            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
                                inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
                                inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
                        }
                    }
                }
            }
        }
    }
}

/* ----- Quick View ----- */
.popup-view {
    z-index: 2;
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 9999;

    &.active {
        display: flex;
    }
}

.popup-card {
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
    animation: scaleUp 0.5s;

    .close-btn {
        color: #000;
        z-index: 4;
        position: absolute;
        right: 0;
        font-size: 1.5rem;
        margin: 20px;
        cursor: pointer;
    }
    .popup-img {
        z-index: 2;
        background: #1d212b;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 90%;
        transform: translateY(25px);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: all 0.9s ease 0s;
        img {
            position: absolute;
            width: 100%;
            left: -50px;
            transition: 0.5s;
            animation: spin 0.9s;
        }
    }

    .popup-info {
        z-index: 2;
        background: #fff;
        display: flex;
        flex-direction: column;
        width: 55%;
        height: 100%;
        box-sizing: border-box;
        padding: 40px;
        border-radius: 10px;

        h2 {
            font-size: 1.5rem;
            line-height: 20px;
            margin: 10px;
            animation: scaleUp 0.7s;
            animation-delay: 0s;

            span {
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        p {
            font-size: 0.9rem;
            margin: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            animation: scaleUp 1.1s;
        }

        .popup-price {
            display: flex;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--primary);
            height: 30px;
            line-height: 30px;
            margin-top: 12px;
            animation: scaleUp 1.2s;
            .price {
                text-decoration: line-through;
                color: #999;
                font-size: 0.95rem;
                padding-right: 5px;
            }
        }

        .add-cart-btn {
            color: #fff;
            background: #009dd2;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            margin: 10px auto;
            padding: 10px 50px;
            border-radius: 20px;
        }

        .popup-color {
            display: flex;
            animation: scaleUp 0.9s;
            h3 {
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 0;
                line-height: 55px;
                margin-right: 10px;
            }
            span {
                display: inline-block;
                height: 25px;
                width: 25px;
                border-radius: 2%;
                margin-right: 14px;
                background: red;
                margin: 16px 10px 16px 0;
                cursor: pointer;
                &.active {
                    box-shadow: 6px 6px #344342;
                }
            }
        }

        .popup-size {
            display: flex;
            animation: scaleUp 1s;
            h3 {
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin: 0;
                line-height: 55px;
                margin-right: 10px;
            }

            span {
                width: 26px;
                height: 26px;
                text-align: center;
                line-height: 24px;
                background: #ededed;
                margin-top: 14px;
                border-radius: 4px;
                font-size: 0.9rem;
                margin: 14px 5px;
                font-weight: 500;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    background: var(--primary);
                }
            }
        }
    }
}
.shoe {
    opacity: 0;
    &.current {
        opacity: 1;
    }
}
img.shoe.current {
    transform: rotate(333deg);
    transition: 0.9s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes scaleUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(333deg);
    }
}

@keyframes toLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
@keyframes toRight {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}
@keyframes toTop {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

@keyframes toBottom {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}
