/** 
* ! Breadcrumb
*/
/* button */
.breadcrumb {
  position: relative;
  margin-bottom: 120px;
}

.breadcrumb-img img {
  width: 100%;
}

.breadcrumb-content {
  position: absolute;
  bottom: 20px;
  left: 130px;
}

.breadcrumb-content ul li {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  color: var(--primary);
  position: relative;
}

.breadcrumb-content ul li a {
  color: #fff;
}

.breadcrumb-content ul li.active::before {
  content: "";
  height: 13px;
  width: 1px;
  vertical-align: middle;
  background-color: #fff;
  display: inline-block;
  margin: 0 15px;
}

.shopping-cart-area {
  margin-bottom: 10px;
}

.shopping-cart-area table {
  border: 1px solid #aacbe1;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}

.shopping-cart-area table thead {
  background-color: var(--primary);
}

.shopping-cart-area table thead th {
  font-size: 15px;
  text-transform: capitalize;
  padding: 20px 10px;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid #aacbe1;
  border-right: 1px solid #aacbe1;
}

.shopping-cart-area table tbody a {
  color: #434343;
}

.shopping-cart-area table tbody td {
  border-top: medium none;
  padding: 20px 10px;
  vertical-align: middle;
  font-size: 0.95rem;
  border-bottom: 1px solid #aacbe1;
  border-right: 1px solid #aacbe1;
}

.shopping-cart-area table tbody td input {
  padding-left: 10px;
}

.shopping-cart-area table tbody td.product-remove {
  font-size: 1.3rem;
}

.shopping-cart-area table tbody td.product-thumbnail img {
  width: 90px;
  height: 90px;
}

.shopping-cart-area table tbody td.product-name {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.shopping-cart-area table tbody td.product-price, .shopping-cart-area table tbody td.product-subtotal {
  font-size: 16px;
  font-weight: 700;
}

.shopping-cart-area table tbody td.product-quantity input {
  color: #222555;
  font-size: 0.95rem;
  background: #ededed;
  border: 1px solid #aacbe1;
  height: 40px;
  width: 55px;
}

.shopping-cart-footer .coupon-delete {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart-footer .coupon-delete input[type="submit"] {
  background-color: #333;
  border: 0 none;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  height: 42px;
  letter-spacing: 1px;
  line-height: 42px;
  padding: 0 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: inherit;
}

.shopping-cart-footer .coupon-delete .coupon {
  margin: 15px 15px 15px 0;
}

.shopping-cart-footer .coupon-delete .coupon input[type="text"] {
  background-color: transparent;
  border: 1px solid #ddd;
  color: #333;
  font-size: 13px;
  border-radius: 0;
  height: 42px;
  width: 120px;
  padding-left: 10px;
}

.shopping-cart-footer .coupon-delete .delete {
  margin: 15px 15px 15px 0;
}

.shopping-cart-footer .cart-page-total {
  padding-top: 50px;
  margin-bottom: 25px;
}

.shopping-cart-footer .cart-page-total h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
  color: var(--primary);
}

.shopping-cart-footer .cart-page-total ul {
  border: 1px solid #aacbe1;
  padding: 7px 15px;
}

.shopping-cart-footer .cart-page-total ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping-cart-footer .cart-page-total ul li.total {
  border-top: 1px solid var(--primary);
  margin-top: 10px;
}

.shopping-cart-footer .cart-page-total a {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  text-transform: capitalize;
}
